body {
    padding: 0px;
    margin: 0px;
    font: 62.5% DroidSansRegular,Arial,Helvetica,sans-serif;
    overflow: hidden;
}

/* Common styles */
.clearFloat {
    clear: both;
    font-size: 0px;
    line-height: 0px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border: none;
    zoom: 1;
}
.invisible, .hidden { display: none!important; }
.rightAligned {
    float: right;
}
.leftAligned {
    float: left;
}
.warningMessage {
    color: red;
}

/* Top bar */
.topBar {
    height: 30px;
    border-bottom: 1px solid #ccc;
}
.saveChanges {
    float: right;
    margin-right: 15px;
    margin-top: 3px;
}

/* Test page */
.loadingMessage {
    background: #fff;
    padding: 24px;
    color: #000;
    border: 2px solid #5D83C0;
    z-index: 1000;
    width: 450px;
    text-align: center;
    -webkit-box-shadow: 0 0 60px rgba(50, 50, 50, 0.6);
    -moz-box-shadow: 0 0 60px rgba(50, 50, 50, 0.6);
    box-shadow: 0 0 60px rgba(50, 50, 50, 0.6);
    overflow: hidden;
    font-size: 16px;
}
.loadingBackground {
    background: #000;
    opacity: 0.3;
    -moz-opacity: 0.30;
    filter: alpha(opacity = 0.30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.testPageContainer {
    position: relative;
}
iframe.testPage {
    border: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: #fff;
}

/* Editor overlay */
.editorOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #fff;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    -moz-box-shadow: 0 5px 30px #505050;
    -webkit-box-shadow: 0 5px 30px #505050;
    box-shadow: 0 5px 30px #505050;
    z-index: 10000;
    font-size: 12px;
    min-width: 160px;
    border: 2px solid #5D83C0;
}
.editorOverlay .overlayTitle {
    padding: 8px;
    background-color: #5D83C0;
    color: #fff;
    position: relative;
    /*cursor: move;*/
    text-shadow: 0 -1px 0px #17243A;
}
.overlayTitle .titleText {
    float: left;
    padding-right: 8px;
}
.overlayTitle .closeButton {
    cursor: pointer;
    margin-left: 4px;
    margin-top: 3px;
    display: inline-block;
}
.overlayTitle .maximizeButton {
    cursor: pointer;
    margin-left: 4px;
    display: inline-block;
}
.editorOverlay .overlayContentPaddings {
    padding: 8px;
    padding-bottom: 0px;
}
.editorOverlay .overlayFooter {
    padding: 8px;
}
.editorOverlay .overlayButton {
    display: inline-block;
    line-height: normal;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    color: #000;
    cursor: pointer;
    padding: 4px 8px;
    border: 1px solid #BBB;
    border-top-color: #CCC;
    border-bottom-color: #A0A0A0;
    background: #F9F9F9;
    background: -webkit-linear-gradient(top, #F9F9F9 20%, #EEE 50%, #E3E3E3 79%);
    background: -moz-linear-gradient(top, #F9F9F9 20%, #EEE 50%, #E3E3E3 79%);
    background: -o-linear-gradient(top, #F9F9F9 20%, #EEE 50%, #E3E3E3 79%);
    background: -ms-linear-gradient(top, #F9F9F9 20%, #EEE 50%, #E3E3E3 79%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f9f9f9', endColorstr = '#e3e3e3', GradientType = 0);
    text-shadow: 0 1px 0px #fff;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: pointer;
    margin-right: 4px;
}
.editorOverlay .doneButton,
.editorOverlay .jPickerDoneButton {
    background: #7091C7;
    background: -moz-linear-gradient(top, #7091C7 0%, #316AC6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7091C7), color-stop(100%, #316AC6));
    background: -webkit-linear-gradient(top, #7091C7 0%, #316AC6 100%);
    background: -o-linear-gradient(top, #7091C7 0%, #316AC6 100%);
    background: -ms-linear-gradient(top, #7091C7 0%, #316AC6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#7091c7', endColorstr = '#316ac6', GradientType = 0);
    color: #fff;
    border-color: #5D83C0;
    text-shadow: 0 -1px 0px #17243A;
}
.editorOverlay.maximized {
    width: 96% !important;
    height: 96% !important;
    max-width: 96% !important;
    left: 2% !important;
    top: 2% !important;
}
.editorOverlay .actionProgress {
    margin-right: 20px;
}

/* Editor Menu */
ul.editorMenu {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.editorMenu li {
    padding: 8px;
    transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -webkit-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    cursor: pointer;
    border-bottom: 1px dotted #DDD;
    white-space: nowrap;
    background-repeat: no-repeat;
    position: relative;
}
.editorMenu li:hover {
    background-color: #F0F3F9;
    color: #000;
    border-bottom: 1px dotted transparent;
}

/* Edit HTML operation */
.editorOverlay .CodeMirror-scroll {
    width: 500px;
}
.editorOverlay .CodeMirror-scroll.maximized {
    max-width: 100%!important;
    width: 100%!important;
}

/* Edit operation */
.editorOverlay .editContainer,
.editorOverlay #tiny_tbl,
.editorOverlay #tiny_ifr,
.editorOverlay #editOp {
    width: 500px;
    height: 244px;
}
.editorOverlay .editContainer.maximized,
.editorOverlay #tiny_tbl.maximized,
.editorOverlay #tiny_ifr.maximized {
    max-width: 100%!important;
    width: 100%!important;
}

.editorOverlay .mceEditor a.mce_code,
.editorOverlay .mceEditor a.mce_preview {
    display: none;
}

/* Change CSS operation */
.editorOverlay .cssList {
    width: 320px;
    padding: 8px;
    padding-bottom: 0px;
}
.editorOverlay .cssGroup {
    margin-top: 8px;
}
.editorOverlay .cssGroup:first-child {
    margin-top: 0px;
}
.editorOverlay .cssGroupTitle {
    cursor: pointer;
    background: url('/Img/arrow_right.png') no-repeat -7px -3px;
    padding-left: 12px;
}
.editorOverlay .openCssGroup .cssGroupTitle {
    background: url('/Img/arrow_down.png') no-repeat -5px -3px;
    margin-bottom: 4px;
    font-weight: bold;
}
.editorOverlay .cssGroupItems { display: none; }
.editorOverlay .cssGroup .styleItem {
    margin: 1px 0 1px 12px;
    line-height: 15px;
}
.editorOverlay .cssGroup .styleItem * {
    vertical-align: middle;
}
.editorOverlay .styleItem .styleName {
    width: 135px;
    display: inline-block;
    height: 17px;
    line-height: 17px;
}
.editorOverlay .styleItem .styleValue {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 110px;
    cursor: pointer;
    padding-left: 2px;
    height: 17px;
    line-height: 17px;
}
.editorOverlay .styleButtons a {
    width: 10px;
    height: 10px;
    display: inline-block;
    cursor: pointer;
    margin-top: 1px;
}
.editorOverlay .styleItem .editStyleButton {
    background-image: url('/Img/edit.png');
    display: none;
}
.editorOverlay .styleItem .saveStyleButton {
    background-image: url('/Img/save.png');
    background-size: 10px;
}
.editorOverlay .styleItem .cancelStyleButton {
    background-image: url('/Img/cancel.png');
    background-size: 10px;
}
.editorOverlay .styleItem:hover .editStyleButton {
    display: inline-block;
}
.editorOverlay .styleItem input[type=text] {
    border: 1px #CECECE solid;
    width: 110px;
    padding: 0px;
    font-size: 12px;
    outline: 0;
    margin: 0px;
}
.editorOverlay .styleItem input.editStyleName {
    width: 60px;
    margin-right: 73px;
}
.editorOverlay .styleItem .styleColor {
    height: 8px;
    width: 8px;
    display: inline-block;
    border: 1px solid #000;
}
.editorOverlay .styleItem .noColor {
    background-image: url(/Img/NoColor.png) !important;
    background-size: 10px;
    border: 0;
    height: 10px;
    width: 10px;
}
.editorOverlay .picker {
    position: relative;
    top: 3px;
    left: -311px;
}
.editorOverlay .addCustomCss {
    margin-top: 5px;
    margin-left: 20px;
}
.editorOverlay .addCustomCss a {
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    color: #0B578F;
}

/* Custom jPicker styles */
.jPicker.Icon {
    display: inline-block;
    height: 24px;
    position: relative;
    text-align: left;
    width: 25px
}
.jPicker.Icon span.Color,
.jPicker.Icon span.Alpha {
    background-position: 2px 2px;
    display: block;
    height: 100% ;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.jPicker.Icon span.Image {
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.jPicker.Container {
    color: #000;
    z-index: 2500040;
}
table.jPicker {
    background-color: #fff;
    border: 2px solid #5D83C0;
    margin: 0;
    padding: 8px;
    width: auto;
    z-index: 2500040;
    position: absolute
}
.editorOverlay .cssGroup .styleItem table.jPicker * {
    vertical-align: top;
}
.editorOverlay .jPicker .Title {
    font-size: 12px;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.editorOverlay .jPicker div.Map {
    border: 1px solid #ddd;
    height: 156px;
    margin: 0 4px 0 0;
    padding: 0;
    width: 156px;
}
.editorOverlay .jPicker div.Bar {
    border: 1px solid #ddd;
    height: 156px;
    margin: 15px 8px 0 4px;
    padding: 0;
    width: 24px;
}
.editorOverlay .jPicker div[class="Bar"] {
    height: 156px;
    width: 12px;
}
.editorOverlay .jPicker input {
    font-size: 11px;
}
.editorOverlay .jPicker input[type=text] {
    padding: 2px;
}
.editorOverlay .jPicker .Map .Map1,
.editorOverlay .jPicker .Map .Map2,
.editorOverlay .jPicker .Map .Map3 {
    height: 1582px;
    width: 156px;
}
.editorOverlay .jPicker .Bar .Map1,
.editorOverlay .jPicker .Bar .Map2,
.editorOverlay .jPicker .Bar .Map3,
.editorOverlay .jPicker .Bar .Map4 {
    height: 3896px;
    width: 12px;
}
.editorOverlay .jPicker .Bar .Map5,
.editorOverlay .jPicker .Bar .Map6 {
    height: 156px;
    width: 12px
}
.editorOverlay .jPicker .Preview {
    font-size: 12px;
    padding: 0;
    padding-bottom: 8px;
}
.editorOverlay .jPicker .Preview div {
    border: 1px solid#ddd;
    height: 17px;
    width: 68px;
}
.editorOverlay .jPicker .Preview div span {
    border: 0;
    display: inline-block;
    height: 17px;
    width: 34px
}
.editorOverlay .jPicker .Button {
    padding: 0;
    width: 115px;
    font-size: 11px;
}
.editorOverlay .jPicker .Button input {
    padding: 2px 0;
    width: 100px;
}
.editorOverlay .jPicker .Button.Ok {
    margin: 12px 0 5px 0;
}
.editorOverlay .jPicker td {
    margin: 0;
    padding: 0;
}
.editorOverlay .jPicker td.Radio {
    width: 32px;
    font-size: 11px;
    vertical-align: middle!important;
}
.editorOverlay .jPicker td.Radio label {
    font-size: 13px;
}
.editorOverlay .jPicker td.Radio input {
    font-size: 11px;
    width: auto;
}

.editorOverlay .jPicker td.Text {
    font-size: 11px!important;
    text-align: right;
    vertical-align: middle!important;
    width: auto;
}
.editorOverlay .jPicker td.Text input {
    border: 1px solid #ddd;
    margin: 0;
    text-align: left;
    width: 28px;
}
.editorOverlay .jPicker td[class="Text"] input {
    height: 12px;
    border-radius: 0!important;
}
.editorOverlay .jPicker .Grid {
    width: 96px;
    margin: 0 0 8px 8px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.editorOverlay .jPicker .Grid span.QuickColor {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-right: 0px;
    border-bottom: 0px;
    height: 15px;
    line-height: 15px;
    width: 15px;
}
.editorOverlay .jPicker .Grid span[class="QuickColor"] {
    width: 15px;
}
.editorOverlay .jPicker .overlayButton {
    margin: 0px;
}

/* Change Text operation */
.changeTextOperation textarea {
    width: 360px;
    height: 100px;
    border: 1px #CECECE solid;
    outline: none;
    padding: 0px;
}
.changeTextOperation textarea.maximized {
    max-width: 100%!important;
    width: 100%!important;
}

/* Resize and Move operations */
.resizeOperation .helpHint,
.moveOperation .helpHint{
    padding: 5px 5px 5px 20px;
    background: #FFF8DB no-repeat url("/Img/bulb.png") 6px 5px;
    margin: -8px;
    margin-bottom: 8px;
}
.resizeOperation .fieldSection,
.moveOperation .fieldSection{
    margin-top: 8px;
}
.resizeOperation input[type=text],
.moveOperation input[type=text]{
    border: 1px #CECECE solid;
    text-align: right;
    padding: 1px;
}
.resizeOperation input,
.moveOperation input{
    padding: 0px;
    margin: 0px;
}

/* Change Image & Change Background Image operations */
.changeImageOperation .overlayContentPaddings,
.changeBackgroundImageOperation .overlayContentPaddings{
    min-width: 630px;
}
.changeImageView .overlayContentPaddings > .leftAligned {
    margin-right: 8px;
}
.changeImageView .uploadImage {
    height: 27px;
}
.changeImageView .uploadImage .fieldTitle {
    vertical-align: top;
    margin-top: 6px;
}
.changeImageView .uploadImage iframe {
    border: 0px;
    height: 24px;
    width: 294px;
    margin: 0px;
    padding: 0px;
    background: white;
}
.changeImageView .fieldSection .fieldTitle{
    display: inline-block;
}
.changeImageView .fieldSection input {
    border: 1px #CECECE solid;
    border-radius: 0;
    outline: none;
}
.changeImageView .leftAligned .fieldSection .fieldTitle {
    width: 90px;
}
.changeImageView .specifyURL input{
    width: 294px;
}
.changeImageView .previewContainer{
    text-align: center;
    width: 210px;
    margin-bottom: 5px;
}
.changeImageView .previewContainer img{
    max-width: 200px;
    max-height: 150px;
    border: 0px;
}
.changeImageView input {
    margin: 0px;
}
.changeImageOperation .changeImageView .rightAligned .fieldSection {
    margin: 4px 0;
}
.changeImageOperation .changeImageView .rightAligned .fieldSection .fieldTitle {
    width: 50px;
}
.changeImageOperation .titleField input,
.changeImageOperation .altField input {
    width: 151px;
}
.changeImageOperation .widthField input,
.changeImageOperation .heightField input {
    width: 55px;
}
.changeImageView .uploadedImages {
    margin-top: 6px;
}
.changeImageView .uploadedImages ul {
    width: 390px;
    max-height: 220px;
    overflow-y: auto;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.changeImageView .loadUploadedImages a {
    text-decoration: none;
    color: #0B578F;
    cursor: pointer;
}
.changeImageView .uploadedImage {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin: 4px;
    padding: 0px;
    border: 1px solid #DDD;
    vertical-align: middle;
}
.changeImageView .uploadedImage:hover {
    border: 1px solid #000;
}
.changeImageView .uploadedImage span {
    height: 64px;
    vertical-align: middle;
    width: 64px;
    display: table-cell;
    position: relative;
}
.changeImageView .uploadedImage img {
    max-height: 64px;
    max-width: 64px;
}

/* Edit Image operation */
.editImageOperation .overlayContentPaddings,
.editBackgroundImageOperation .overlayContentPaddings {
    min-width: 542px;
    min-height: 245px;
}
.editImageOperation .imageEditorLoading,
.editBackgroundImageOperation .imageEditorLoading{
    text-align: center;
    font-size: 18px;
    padding-top: 70px;
}
#avpw_holder #avpw_controls_2 {
    background: none repeat scroll 0 0 transparent;
    border-radius: 0 0;
    height: auto;
    min-height: 245px !important;
}
#avpw_holder #avpw_clouds {
    display: none !important;
}
#avpw_holder #avpw_controls_2 #avpw_mountains {
    background-color: #CECECE;
    border-radius: 4px 4px 0 0;
    height: 25px;
    top: 0;
}
#avpw_holder #avpw_controls_2 #avpw_mountains div {
    background: none !important;
    position: static;
    width: inherit;
    height: auto;
    padding: 5px;
}
#avpw_holder #avpw_control_cancel_pane {
    right: 8px;
    top: 6px;
}
#avpw_holder #avpw_control_cancel_pane a, #avpw_holder #avpw_control_cancel_pane a:hover {
    height: 8px;
    width: 8px;
    background-position: 0;
}
#avpw_holder #avpw_rightbevel, #avpw_holder #avpw_topleft_corner, #avpw_holder #avpw_topright_corner, #avpw_holder #avpw_topbevel {
    display: none !important;
}
#avpw_holder #avpw_header {
    display: none;
}
#avpw_holder a:visited {
    color: #fff;
}
#avpw_holder #avpw_wrapper_1 {
    margin: 0;
    min-width: 542px;
}
#avpw_holder #avpw_photo_content {
    margin-left: 0;
    margin-top: 0;
    padding-bottom: 0;
    display: inline-block;
}
#avpw_holder #avpw_photo_content_2 {
    padding: 0;
}
#avpw_holder .avpw_cardboard {
    border-radius: 0;
    border: none;
}
#avpw_holder #avpw_canvas_embed {
    width: 300px;
    max-height: 300px;
}
#avpw_holder .avpw_white_1px_border {
    border: 0;
    background: #fff;
}
#avpw_holder #avpw_temp_loading_image, #avpw_holder #avpw_canvas_embed canvas {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    margin: auto;
}
#avpw_holder #avpw_control_undoredo {
    position: static;
    margin-top: 8px;
    text-align: center;
}
#avpw_holder #avpw_control_undo, #avpw_holder #avpw_control_redo {
    float: none;
    display: inline;
}
#avpw_holder a:visited {
    color: #fff;
}
#avpw_holder .avpw_chrome_button {
    display: inline-block;
    background: linear-gradient(top, #F9F9F9 20%, #EEE 50%, #E3E3E3 79%);
    -webkit-border-radius: 1px !important;
    -moz-border-radius: 1px !important;
    border-radius: 1px !important;
    color: black !important;
    cursor: pointer;
    padding: 4px 8px;
    border: 1px solid #BBB !important;
    border-top-color: #CCC !important;
    border-bottom-color: #A0A0A0 !important;
    background: #F9F9F9;
    background: -moz-linear-gradient(top, #F9F9F9 20%, #EEE 50%, #E3E3E3 79%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #F9F9F9), color-stop(50%, #EEE), color-stop(79%, #E3E3E3));
    background: -webkit-linear-gradient(top, #F9F9F9 20%, #EEE 50%, #E3E3E3 79%);
    background: -o-linear-gradient(top, #F9F9F9 20%, #EEE 50%, #E3E3E3 79%);
    background: -ms-linear-gradient(top, #F9F9F9 20%, #EEE 50%, #E3E3E3 79%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f9f9f9', endColorstr = '#e3e3e3', GradientType = 0);
    background: linear-gradient(top, #F9F9F9 20%, #EEE 50%, #E3E3E3 79%);
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
#avpw_holder #_aviary_error {
    background: #FFF1A8;
    padding: 8px;
    display: none;
}
#avpw_holder #avpw_tool_content_wrapper {
    display: inline-block;
    margin: 0;
    margin-left: 8px;
    padding: 0;
}
#avpw_holder #avpw_tool_content {
    width: 224px;
}
#avpw_holder #avpw_tool_options_container, #avpw_holder #avpw_tool_main_container {
    width: 224px;
}
#avpw_holder #avpw_tool_main_container {
    position: static;
    width: 100%;
}
#avpw_holder .avpw_icon_container_style {
    border: 0 none;
    border-radius: 0 0 0 0;
}
#avpw_holder .avpw_tool_main_left_bevel, #avpw_holder .avpw_tool_main_right_bevel {
    display: none;
}
#avpw_holder #avpw_control_main {
    margin-top: 0;
    height: 243px;
    width: 224px;
}
#avpw_holder #avpw_control_main_scroll_panel {
    margin: 0;
    width: 224px;
}
#avpw_holder .avpw_scrolling_region_panel {
    margin: 0;
    width: 232px;
    max-width: 232px;
}
#avpw_holder #avpw_controls .avpw_egg a {
    background: linear-gradient(top, #F9F9F9 20%, #EEE 50%, #E3E3E3 79%);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    color: black;
    cursor: pointer;
    border: 1px solid #BBB;
    border-top-color: #CCC;
    border-bottom-color: #A0A0A0;
    background: #F9F9F9;
    background: -moz-linear-gradient(top, #F9F9F9 20%, #EEE 50%, #E3E3E3 79%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #F9F9F9), color-stop(50%, #EEE), color-stop(79%, #E3E3E3));
    background: -webkit-linear-gradient(top, #F9F9F9 20%, #EEE 50%, #E3E3E3 79%);
    background: -o-linear-gradient(top, #F9F9F9 20%, #EEE 50%, #E3E3E3 79%);
    background: -ms-linear-gradient(top, #F9F9F9 20%, #EEE 50%, #E3E3E3 79%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f9f9f9', endColorstr = '#e3e3e3', GradientType = 0);
    background: linear-gradient(top, #F9F9F9 20%, #EEE 50%, #E3E3E3 79%);
}
#avpw_holder .avpw_egg a {
    margin: 0 8px 8px 0;
}
#avpw_holder #avpw_controls .avpw_egg a div {
    height: 44px;
}
#avpw_holder #avpw_aviary_about, #avpw_holder #avpw_aviary_beensaved, #avpw_holder #avpw_aviary_quitareyousure {
    width: 224px;
    margin-left: 8px;
    height: auto;
}
#avpw_holder #avpw_aviary_about, #avpw_holder #avpw_aviary_beensaved, #avpw_holder #avpw_aviary_quitareyousure {
    width: 224px;
    margin-left: 8px;
    height: auto;
}
#avpw_holder #avpw_lftArrow {
    top: 216px;
    left: 0;
}
#avpw_holder #avpw_rghtArrow {
    top: 216px;
    right: 0;
}
#avpw_holder #avpw_tools_pager {
    display: none;
}
#avpw_holder #avpw_tool_options_container, #avpw_holder #avpw_tool_main_container {
    width: 224px;
}
#avpw_holder #avpw_tool_options_container {
    border-radius: 0;
    min-height: 243px;
    height: auto;
}
#avpw_holder .avpw_controlpanel_container_style {
    border: 0;
}
#avpw_holder .avpw_controlpanel_container_style {
    border: 0;
}
#avpw_holder #avpw_control_upper {
    position: static;
    margin: 5px;
}
#avpw_holder .avpw_controlpanel {
    height: auto;
    background-color: transparent;
}
#avpw_holder .avpw_controlpanel_style {
    background-color: transparent;
    border-radius: 0;
}
#avpw_holder .avpw_tool_properties_name {
    top: 0;
}
#avpw_holder .avpw_panel_margin, #avpw_holder .avpw_thumb_and_slider {
    margin-left: 0;
    text-align: center;
}
#avpw_holder #avpw_controls .ui-slider-horizontal .ui-slider-handle {
    top: -0.37em;
}
#avpw_holder #avpw_filter_eggs_panel {
    display: none !important;
}
#avpw_holder #avpw_save_container {
    display: none;
}
#avpw_holder #avpw_save_button {
    position: absolute;
    background: #222;
    color: #EEE;
    border: none;
    border-radius: 5px;
    margin: 5px;
    width: auto;
    height: auto;
    top: 390px;
    right: 3px;
}
#avpw_holder #avpw_save_button a {
    position: static;
    font-size: 12px;
    text-shadow: none;
    padding: 4px 8px;
}
#avpw_holder #avpw_controls_2 #avpw_mountains {
    background-color: #CECECE;
    border-radius: 4px 4px 0 0;
    height: 25px;
    top: 0;
}
#avpw_holder #avpw_controls_2 #avpw_mountains {
    cursor: auto !important;
}
#avpw_holder #avpw_mountains, #avpw_control_cancel {
    display: none !important;
}
#avpw_lftArrow {
    font-size: 10px;
    padding: 3px 6px 2px 5px;
}
#avpw_rghtArrow {
    font-size: 10px;
    padding: 3px 5px 2px 5px;
}
.editorOverlay #imageEditor .overlayButton {
    margin-right: 0px;
}
#avpw_version, .avpw_filter_text_style, .avpw_icon_text_style {
    color: #555 !important;
}
.avpw_tool_main_left_bevel,
.avpw_tool_main_right_bevel,
.avpw_tool_properties_name div div.avpw_tool_prop_bg,
.avpw_main_egg_icon, #avpw_rightbevel, #avpw_draweraser,
.avpw_plus, .avpw__is_styled_checkbox, div.avpw_prev_enabled a,
div.avpw_prev_disabled a, div.avpw_next_enabled a, div.avpw_next_disabled a,
div.avpw_overlay_prev_enabled a, div.avpw_filter_prev_enabled a,
div.avpw_overlay_prev_disabled a, div.avpw_filter_prev_disabled a,
div.avpw_overlay_next_enabled a, div.avpw_filter_next_enabled a,
div.avpw_overlay_next_disabled a, div.avpw_filter_next_disabled a,
#avpw_topleft_corner, #avpw_topright_corner, #avpw_topbevel div,
#avpw_header_birds, #avpw_clouds, #avpw_header a, .avpw_filter_eggs_panel_eh_egg,
.avpw_filter_egg_icon_retro, .avpw_filter_egg_icon_oldphoto,
.avpw_filter_egg_icon_polaroid, div.avpw_filter_egg_icon_toycamera,
.avpw_aviary_about_feather, .avpw_egg div.avpw_empty_egg, .avpw_options_pager ul li a,
.avpw_overlay_options_pager ul li a, .avpw_filter_options_pager ul li a,
.avpw_dropdown_header_arrow_inner, #avpw_controls .ui-slider-horizontal .ui-state-default,
#avpw_controls .avpw_big_egg_slider .ui-slider-horizontal .ui-state-default,
#avpw_controls .ui-slider-vertical .ui-state-default {
    background-image: url("/Img/atlas-hd-darkblue-custom.png") !important;
}
.avpw_prev_disabled {
    opacity: .40;
    -moz-opacity: 0.40;
    filter: alpha(opacity = 0.40);
}
.avpw_aviary_about_feather {
    width: 99px;
}
.avpw_next_disabled {
    opacity: .40;
    -moz-opacity: 0.40;
    filter: alpha(opacity = 0.40);
}
#avpw_holder #avpw_controls .avpw_egg a:hover {
    background: -webkit-linear-gradient(top, #EEE 20%, #D1D1D1 50%, #DDD 79%);
    background: -moz-linear-gradient(19% 75% 90deg, #ABABAB, #C9C9C9, #C7C7C7 100%);
}